.container{
    background-color: lightgray;
}

.link{
    text-align: center;
    display: block;
}

table, th, td{
    border: 1px solid black;
}

#title{
    text-align: center;
    height: 40px;
    border: 5px solid blue;
}

.subtitle{
    text-align: center;
    height: 35px;
    font-size: 30px;
    text-decoration: underline;
}

.info{
    vertical-align: left;
    font-size: 25px;
}